/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Define your base styles */
.section {
    padding: 20px;
    box-sizing: border-box;
}

.header {
    height: auto;
    justify-content: inherit;
    align-items: inherit;
}

.photo img {
    width: 100%;
    display: block;
}

.illustration {
    width: 100%;
}

/* Add media queries for responsive design as needed */
